## Glob paths to my DEMs.

In [5]:
import glob
from concurrent.futures import ThreadPoolExecutor
import rasterio
from rasterio.plot import show
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
path_list = glob.glob('/sciclone/home/ntlewis/Nick-Lewis-Research/working_files/data/watersheds/*')
csv_list = glob.glob('/sciclone/home/ntlewis/Nick-Lewis-Research/working_files/data/csvs/*')

In [6]:
path_list = [x.split(sep='/')[-1] for x in path_list]

In [7]:
def make_df(path):
    gdf = gpd.GeoDataFrame(data = pd.read_csv(path, index_col = 0))
    gdf = gdf.drop(columns=['y', 'max_y', 'x', 'max_x', 'rank'])
    return gdf

In [8]:
with ThreadPoolExecutor() as executor:
    results_iter = executor.map(make_df, csv_list)
    results = list(results_iter)

relief = pd.Series()
avg_elev = pd.Series()
for res in results:
    relief = pd.concat([relief, res.Relief], ignore_index=True)
    avg_elev = pd.concat([avg_elev, res.avg_elevation], ignore_index=True)
    print(res)

           Relief  avg_elevation      North       West      South       East
838    293.960205     980.951660  38.990972 -79.323471  38.981805 -79.314305
839    284.999023     742.010254  38.990972 -79.314305  38.981805 -79.305138
840    297.089783     655.424805  38.990972 -79.305138  38.981805 -79.295971
841    347.762360     618.933960  38.990972 -79.295971  38.981805 -79.286805
842    183.379791     537.855896  38.990972 -79.286805  38.981805 -79.277638
...           ...            ...        ...        ...        ...        ...
34666  105.575378     930.669800  38.422639 -79.543471  38.413472 -79.534305
34667   97.906128     971.339417  38.422639 -79.534305  38.413472 -79.525138
34668  228.418457    1063.217651  38.422639 -79.525138  38.413472 -79.515971
34669  278.259827    1144.715576  38.422639 -79.515971  38.413472 -79.506805
35209  222.125122     984.864319  38.413472 -79.570971  38.404305 -79.561805

[1056 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
2006   265.865417     780.038330  38.972639 -78.626805  38.963472 -78.617638
2550   248.790649     758.671082  38.963472 -78.645138  38.954305 -78.635971
2551   294.226257     726.081299  38.963472 -78.635971  38.954305 -78.626805
2552   196.216248     738.667847  38.963472 -78.626805  38.954305 -78.617638
3095   269.643005     696.354004  38.954305 -78.654305  38.945139 -78.645138
...           ...            ...        ...        ...        ...        ...
32570  347.273865     803.678589  38.459305 -78.736805  38.450139 -78.727638
33105   38.532196     422.364502  38.450139 -78.837638  38.440972 -78.828471
33106   46.393311     432.917114  38.450139 -78.828471  38.440972 -78.819305
33107   51.860535     439.380066  38.450139 -78.819305  38.440972 -78.810138
33653   58.655579     453.478790  38.440972 -78.819305  38.431805 -78.810138

[1998 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
22001  256.528503     420.958954  38.633472 -80.524305  38.624305 -80.515138
22541  235.852661     424.163269  38.624305 -80.579305  38.615139 -80.570138
22542  194.544647     377.451233  38.624305 -80.570138  38.615139 -80.560971
22543  271.922211     420.949036  38.624305 -80.560971  38.615139 -80.551805
22544  258.022675     414.197876  38.624305 -80.551805  38.615139 -80.542638
...           ...            ...        ...        ...        ...        ...
40066  210.895569    1041.555054  38.330972 -80.093471  38.321805 -80.084305
40067  185.629150    1086.167969  38.330972 -80.084305  38.321805 -80.075138
40610  215.057678    1085.984863  38.321805 -80.111805  38.312639 -80.102638
40611  104.734802     993.423096  38.321805 -80.102638  38.312639 -80.093471
40612  175.639832    1056.487915  38.321805 -80.093471  38.312639 -80.084305

[954 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
14063  240.018188     790.778320  38.770972 -78.214305  38.761805 -78.205138
14064  332.102722     749.564087  38.770972 -78.205138  38.761805 -78.195971
14065  321.839111     674.369751  38.770972 -78.195971  38.761805 -78.186805
14606  258.630981     665.356018  38.761805 -78.241805  38.752639 -78.232638
14607  338.395172     616.256042  38.761805 -78.232638  38.752639 -78.223471
...           ...            ...        ...        ...        ...        ...
30451   36.419937     172.515900  38.495972 -78.140971  38.486805 -78.131805
30994   32.742889     173.703506  38.486805 -78.168471  38.477639 -78.159305
30995   38.134369     170.330505  38.486805 -78.159305  38.477639 -78.150138
30996   34.604034     170.426193  38.486805 -78.150138  38.477639 -78.140971
30997   32.698502     180.779785  38.486805 -78.140971  38.477639 -78.131805

[942 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
21952  132.634064     346.544312  38.633472 -80.973471  38.624305 -80.964305
21953  113.197266     326.443298  38.633472 -80.964305  38.624305 -80.955138
22493  166.011749     356.618896  38.624305 -81.019305  38.615139 -81.010138
22494  155.914673     363.886322  38.624305 -81.010138  38.615139 -81.000971
22495  143.225800     367.091187  38.624305 -81.000971  38.615139 -80.991805
...           ...            ...        ...        ...        ...        ...
39956  157.994507     451.446167  38.330972 -81.101805  38.321805 -81.092638
39957  159.663452     473.352234  38.330972 -81.092638  38.321805 -81.083471
40489  111.162842     409.802399  38.321805 -81.220971  38.312639 -81.211805
40490  172.980377     431.343933  38.321805 -81.211805  38.312639 -81.202638
40495  148.798248     403.488403  38.321805 -81.165971  38.312639 -81.156805

[1103 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
15344  112.572952     305.243408  38.743472 -81.486805  38.734305 -81.477638
15345  108.984116     308.665497  38.743472 -81.477638  38.734305 -81.468471
15890   78.448914     278.316528  38.734305 -81.486805  38.725139 -81.477638
15891   94.464447     291.821045  38.734305 -81.477638  38.725139 -81.468471
15892   86.226868     291.420685  38.734305 -81.468471  38.725139 -81.459305
...           ...            ...        ...        ...        ...        ...
34967  111.248932     265.758240  38.413472 -81.789305  38.404305 -81.780138
34968  118.862823     265.640808  38.413472 -81.780138  38.404305 -81.770971
34969   95.556732     256.386353  38.413472 -81.770971  38.404305 -81.761805
34970   92.592224     276.158661  38.413472 -81.761805  38.404305 -81.752638
34971   91.676910     293.021118  38.413472 -81.752638  38.404305 -81.743471

[968 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
31680   82.346695     240.777130  38.468472 -81.890138  38.459305 -81.880971
32225   86.979248     234.733673  38.459305 -81.899305  38.450139 -81.890138
32226   95.014664     234.222015  38.459305 -81.890138  38.450139 -81.880971
32227   85.771469     223.126923  38.459305 -81.880971  38.450139 -81.871805
32228   85.817291     227.705734  38.459305 -81.871805  38.450139 -81.862638
...           ...            ...        ...        ...        ...        ...
75427  129.134888     723.933716  37.735139 -81.275971  37.725972 -81.266805
75969  133.075378     688.908569  37.725972 -81.312638  37.716805 -81.303471
75970  137.673523     688.267700  37.725972 -81.303471  37.716805 -81.294305
75971  164.763489     708.110229  37.725972 -81.294305  37.716805 -81.285138
75974  113.858704     719.385742  37.725972 -81.266805  37.716805 -81.257638

[2204 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
21061  157.322083    1044.282593  38.651805 -79.130971  38.642639 -79.121805
21062   85.266602    1085.749146  38.651805 -79.121805  38.642639 -79.112638
21063   85.662354    1079.305054  38.651805 -79.112638  38.642639 -79.103471
21064   68.180054    1088.690430  38.651805 -79.103471  38.642639 -79.094305
21065  119.554565    1048.627441  38.651805 -79.094305  38.642639 -79.085138
...           ...            ...        ...        ...        ...        ...
65299  143.270386     667.426636  37.909305 -79.020971  37.900139 -79.011805
65300  156.046204     643.650757  37.909305 -79.011805  37.900139 -79.002638
65301  169.547668     636.766113  37.909305 -79.002638  37.900139 -78.993471
65846  157.502930     724.995972  37.900139 -79.011805  37.890972 -79.002638
65847  273.580261     774.110718  37.900139 -79.002638  37.890972 -78.993471

[2141 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
22842   26.546501     132.833252  38.624305 -77.820138  38.615139 -77.810971
23387   21.912552     123.983055  38.615139 -77.829305  38.605972 -77.820138
23388   25.395500     126.866455  38.615139 -77.820138  38.605972 -77.810971
23389   21.585846     130.402390  38.615139 -77.810971  38.605972 -77.801805
23395   21.499794     118.155594  38.615139 -77.755971  38.605972 -77.746805
...           ...            ...        ...        ...        ...        ...
51181  123.407394     252.929413  38.147639 -78.305971  38.138472 -78.296805
51182  172.307648     289.168823  38.147639 -78.296805  38.138472 -78.287638
51183  206.250092     304.199341  38.147639 -78.287638  38.138472 -78.278471
51184  195.194672     315.904053  38.147639 -78.278471  38.138472 -78.269305
51728  205.440582     370.057739  38.138472 -78.296805  38.129305 -78.287638

[2165 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
32383  121.433838     784.670959  38.459305 -80.450971  38.450139 -80.441805
32929  142.730225     795.921326  38.450139 -80.450971  38.440972 -80.441805
32930  179.191650     780.313721  38.450139 -80.441805  38.440972 -80.432638
32931  168.901733     779.482544  38.450139 -80.432638  38.440972 -80.423471
32932  187.700684     813.482849  38.450139 -80.423471  38.440972 -80.414305
...           ...            ...        ...        ...        ...        ...
54762  212.876465    1138.155884  38.083472 -80.515138  38.074305 -80.505971
54763  167.348511    1126.783691  38.083472 -80.505971  38.074305 -80.496805
54764  134.061157    1139.521484  38.083472 -80.496805  38.074305 -80.487638
54765  125.749634    1150.171875  38.083472 -80.487638  38.074305 -80.478471
54766  122.433838    1139.009766  38.083472 -80.478471  38.074305 -80.469305

[1627 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
32909   77.625000     723.991211  38.450139 -80.634305  38.440972 -80.625138
32910   97.534790     736.131775  38.450139 -80.625138  38.440972 -80.615971
32911  112.024170     764.178589  38.450139 -80.615971  38.440972 -80.606805
32912   99.055298     780.663208  38.450139 -80.606805  38.440972 -80.597638
33454   96.214661     729.850220  38.440972 -80.643471  38.431805 -80.634305
...           ...            ...        ...        ...        ...        ...
66742   99.738708     874.489258  37.881805 -80.808471  37.872639 -80.799305
66743   67.147949     869.617615  37.881805 -80.799305  37.872639 -80.790138
66756   59.957397     775.329346  37.881805 -80.680138  37.872639 -80.670971
66757   93.131531     791.183472  37.881805 -80.670971  37.872639 -80.661805
67289  110.574402     898.759399  37.872639 -80.799305  37.863472 -80.790138

[2311 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
62791  243.303879     336.068359  37.945972 -81.990971  37.936805 -81.981805
62792  187.971283     316.773376  37.945972 -81.981805  37.936805 -81.972638
63337  150.079376     263.440857  37.936805 -81.990971  37.927639 -81.981805
63338  140.838211     265.400269  37.936805 -81.981805  37.927639 -81.972638
63339  235.392563     328.920959  37.936805 -81.972638  37.927639 -81.963471
...           ...            ...        ...        ...        ...        ...
92348  194.321045     785.157043  37.450972 -81.321805  37.441805 -81.312638
92894  233.212036     800.754150  37.441805 -81.321805  37.432639 -81.312638
92895  171.030396     790.957214  37.441805 -81.312638  37.432639 -81.303471
92896  174.601257     823.301636  37.441805 -81.303471  37.432639 -81.294305
93442  278.637146     874.958496  37.432639 -81.303471  37.423472 -81.294305

[2064 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
33035  249.977600    1041.166992  38.450139 -79.479305  38.440972 -79.470138
33036  131.579651     930.792603  38.450139 -79.470138  38.440972 -79.460971
33037   98.433411     853.141357  38.450139 -79.460971  38.440972 -79.451805
33581  189.632385     996.319946  38.440972 -79.479305  38.431805 -79.470138
33582  135.326355     897.975464  38.440972 -79.470138  38.431805 -79.460971
...           ...            ...        ...        ...        ...        ...
72870  251.575409     607.581787  37.780972 -79.690138  37.771805 -79.680971
72871  275.786499     744.538147  37.780972 -79.680971  37.771805 -79.671805
73415  151.795959     542.455811  37.771805 -79.699305  37.762639 -79.690138
73416  230.861206     658.178223  37.771805 -79.690138  37.762639 -79.680971
73962  334.826294     767.143372  37.762639 -79.690138  37.753472 -79.680971

[1295 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
33035  249.977600    1041.166992  38.450139 -79.479305  38.440972 -79.470138
33036  131.579651     930.792603  38.450139 -79.470138  38.440972 -79.460971
33037   98.433411     853.141357  38.450139 -79.460971  38.440972 -79.451805
33581  189.632385     996.319946  38.440972 -79.479305  38.431805 -79.470138
33582  135.326355     897.975464  38.440972 -79.470138  38.431805 -79.460971
...           ...            ...        ...        ...        ...        ...
91898  223.697510     847.797791  37.460139 -80.441805  37.450972 -80.432638
91899  174.407776     859.737915  37.460139 -80.432638  37.450972 -80.423471
92439  291.317627     954.808960  37.450972 -80.487638  37.441805 -80.478471
92442  220.801819     964.460083  37.450972 -80.460138  37.441805 -80.450971
92443  196.931396     931.442139  37.450972 -80.450971  37.441805 -80.441805

[3482 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
33035  249.977600    1041.166992  38.450139 -79.479305  38.440972 -79.470138
33036  131.579651     930.792603  38.450139 -79.470138  38.440972 -79.460971
33037   98.433411     853.141357  38.450139 -79.460971  38.440972 -79.451805
33581  189.632385     996.319946  38.440972 -79.479305  38.431805 -79.470138
33582  135.326355     897.975464  38.440972 -79.470138  38.431805 -79.460971
...           ...            ...        ...        ...        ...        ...
91898  223.697510     847.797791  37.460139 -80.441805  37.450972 -80.432638
91899  174.407776     859.737915  37.460139 -80.432638  37.450972 -80.423471
92439  291.317627     954.808960  37.450972 -80.487638  37.441805 -80.478471
92442  220.801819     964.460083  37.450972 -80.460138  37.441805 -80.450971
92443  196.931396     931.442139  37.450972 -80.450971  37.441805 -80.441805

[3716 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
16622  166.148743    1015.720215  38.725139 -79.781805  38.715972 -79.772638
16623  115.922913     994.096680  38.725139 -79.772638  38.715972 -79.763471
16624  117.197876    1027.278076  38.725139 -79.763471  38.715972 -79.754305
17167  230.671997    1040.722412  38.715972 -79.790971  38.706805 -79.781805
17168   87.802979     971.111267  38.715972 -79.781805  38.706805 -79.772638
...           ...            ...        ...        ...        ...        ...
87530   90.365173     816.437256  37.533472 -80.441805  37.524305 -80.432638
87531   92.754028     798.891052  37.533472 -80.432638  37.524305 -80.423471
87532  168.583679     833.626221  37.533472 -80.423471  37.524305 -80.414305
87533  238.642090     863.747681  37.533472 -80.414305  37.524305 -80.405138
88077  316.573242     929.049438  37.524305 -80.432638  37.515139 -80.423471

[4498 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
57076  290.215820     723.998901  38.046805 -79.323471  38.037639 -79.314305
57077  143.729187     633.029419  38.046805 -79.314305  38.037639 -79.305138
57620  319.602295     726.045837  38.037639 -79.341805  38.028472 -79.332638
57621  193.834839     622.782104  38.037639 -79.332638  38.028472 -79.323471
57622  111.855835     571.856812  38.037639 -79.323471  38.028472 -79.314305
...           ...            ...        ...        ...        ...        ...
81089  323.535950     407.040436  37.643472 -79.424305  37.634305 -79.415138
81090  274.069000     484.051392  37.643472 -79.415138  37.634305 -79.405971
81091  372.616760     608.572998  37.643472 -79.405971  37.634305 -79.396805
81631  132.876938     276.301575  37.634305 -79.460971  37.625139 -79.451805
81632   18.946289     220.765854  37.634305 -79.451805  37.625139 -79.442638

[1506 rows x 6 columns]
           Relief  avg_elevation      North       West      South       East
65291  231.825012     893.886230  37.909305 -79.094305  37.900139 -79.085138
65292  263.640198     817.290649  37.909305 -79.085138  37.900139 -79.075971
65293  332.290222     860.368042  37.909305 -79.075971  37.900139 -79.066805
65294  246.734863     838.381653  37.909305 -79.066805  37.900139 -79.057638
65835  218.792542     940.194580  37.900139 -79.112638  37.890972 -79.103471
...           ...            ...        ...        ...        ...        ...
87686   38.401718     207.218597  37.533472 -79.011805  37.524305 -79.002638
87687   46.855545     216.656891  37.533472 -79.002638  37.524305 -78.993471
87688  121.102676     273.250092  37.533472 -78.993471  37.524305 -78.984305
88232   42.560989     220.855896  37.524305 -79.011805  37.515139 -79.002638
88233   56.368759     232.439423  37.524305 -79.002638  37.515139 -78.993471

[1005 rows x 6 columns]
            Relief  avg_elevation      North       West      South       East
78189   131.156494     793.280823  37.689305 -80.982638  37.680139 -80.973471
78733   220.793701     837.965332  37.680139 -81.000971  37.670972 -80.991805
78734   166.847351     780.964844  37.680139 -80.991805  37.670972 -80.982638
78735   146.040894     772.060547  37.680139 -80.982638  37.670972 -80.973471
78736   125.871216     798.036926  37.680139 -80.973471  37.670972 -80.964305
...            ...            ...        ...        ...        ...        ...
107629  267.103577     989.225708  37.194305 -81.385971  37.185139 -81.376805
108171  150.244629     937.061340  37.185139 -81.422638  37.175972 -81.413471
108172  201.598999     977.842957  37.185139 -81.413471  37.175972 -81.404305
108173  364.771729    1078.725708  37.185139 -81.404305  37.175972 -81.395138
108717  350.312256    1137.519775  37.175972 -81.422638  37.166805 -81.413471

[1198 rows x 6 columns]
            Relief  avg_elevation      North       West      South       East
76122   257.591675     708.788025  37.725972 -79.910138  37.716805 -79.900971
76666   202.428955     705.991394  37.716805 -79.928471  37.707639 -79.919305
76667   187.327026     647.414734  37.716805 -79.919305  37.707639 -79.910138
76668   290.180878     603.697205  37.716805 -79.910138  37.707639 -79.900971
77212   245.855835     769.693848  37.707639 -79.928471  37.698472 -79.919305
...            ...            ...        ...        ...        ...        ...
100638  223.366638     694.170898  37.313472 -80.405138  37.304305 -80.395971
101180  106.054138     669.993408  37.304305 -80.441805  37.295139 -80.432638
101181  165.515625     690.411987  37.304305 -80.432638  37.295139 -80.423471
101724  121.235168     709.581299  37.295139 -80.460138  37.285972 -80.450971
101725  129.623962     697.713379  37.295139 -80.450971  37.285972 -80.441805

[1128 rows x 6 columns]
            Relief  avg_elevation      North       West      South       East
81355   253.530365     556.083801  37.634305 -81.990971  37.625139 -81.981805
81356   273.338867     535.233521  37.634305 -81.981805  37.625139 -81.972638
81357   325.194885     559.594482  37.634305 -81.972638  37.625139 -81.963471
81901   252.115936     568.884888  37.625139 -81.990971  37.615972 -81.981805
81902   228.456970     482.937469  37.625139 -81.981805  37.615972 -81.972638
...            ...            ...        ...        ...        ...        ...
110876  189.843567     716.874390  37.139305 -81.651805  37.130139 -81.642638
110877  163.479675     652.926514  37.139305 -81.642638  37.130139 -81.633471
110878  218.225708     685.240479  37.139305 -81.633471  37.130139 -81.624305
110879  238.048828     708.634399  37.139305 -81.624305  37.130139 -81.615138
110880  186.976807     728.066895  37.139305 -81.615138  37.130139 -81.605971

[1806 rows x 6 columns]

In [9]:
min_el = avg_elev.describe()['75%']
max_r = relief.describe()['25%']

In [10]:
i=0
for res in results:
    res['relict'] = [True if res.Relief.iloc[i] <= max_r and res.avg_elevation.iloc[i] >= max_r else False for i in range(len(res))]
    res['basin'] = i
    i+=1

In [11]:
for res in results:
    display(res)

,Relief,avg_elevation,North,West,South,East,relict,basin
838,293.960205,980.951660,38.990972,-79.323471,38.981805,-79.314305,False,0
839,284.999023,742.010254,38.990972,-79.314305,38.981805,-79.305138,False,0
840,297.089783,655.424805,38.990972,-79.305138,38.981805,-79.295971,False,0
841,347.762360,618.933960,38.990972,-79.295971,38.981805,-79.286805,False,0
842,183.379791,537.855896,38.990972,-79.286805,38.981805,-79.277638,False,0
...,...,...,...,...,...,...,...,...
34666,105.575378,930.669800,38.422639,-79.543471,38.413472,-79.534305,False,0
34667,97.906128,971.339417,38.422639,-79.534305,38.413472,-79.525138,False,0
34668,228.418457,1063.217651,38.422639,-79.525138,38.413472,-79.515971,False,0
34669,278.259827,1144.715576,38.422639,-79.515971,38.413472,-79.506805,False,0
35209,222.125122,984.864319,38.413472,-79.570971,38.404305,-79.561805,False,0

,Relief,avg_elevation,North,West,South,East,relict,basin
2006,265.865417,780.038330,38.972639,-78.626805,38.963472,-78.617638,False,1
2550,248.790649,758.671082,38.963472,-78.645138,38.954305,-78.635971,False,1
2551,294.226257,726.081299,38.963472,-78.635971,38.954305,-78.626805,False,1
2552,196.216248,738.667847,38.963472,-78.626805,38.954305,-78.617638,False,1
3095,269.643005,696.354004,38.954305,-78.654305,38.945139,-78.645138,False,1
...,...,...,...,...,...,...,...,...
32570,347.273865,803.678589,38.459305,-78.736805,38.450139,-78.727638,False,1
33105,38.532196,422.364502,38.450139,-78.837638,38.440972,-78.828471,True,1
33106,46.393311,432.917114,38.450139,-78.828471,38.440972,-78.819305,True,1
33107,51.860535,439.380066,38.450139,-78.819305,38.440972,-78.810138,True,1
33653,58.655579,453.478790,38.440972,-78.819305,38.431805,-78.810138,True,1

,Relief,avg_elevation,North,West,South,East,relict,basin
22001,256.528503,420.958954,38.633472,-80.524305,38.624305,-80.515138,False,2
22541,235.852661,424.163269,38.624305,-80.579305,38.615139,-80.570138,False,2
22542,194.544647,377.451233,38.624305,-80.570138,38.615139,-80.560971,False,2
22543,271.922211,420.949036,38.624305,-80.560971,38.615139,-80.551805,False,2
22544,258.022675,414.197876,38.624305,-80.551805,38.615139,-80.542638,False,2
...,...,...,...,...,...,...,...,...
40066,210.895569,1041.555054,38.330972,-80.093471,38.321805,-80.084305,False,2
40067,185.629150,1086.167969,38.330972,-80.084305,38.321805,-80.075138,False,2
40610,215.057678,1085.984863,38.321805,-80.111805,38.312639,-80.102638,False,2
40611,104.734802,993.423096,38.321805,-80.102638,38.312639,-80.093471,False,2
40612,175.639832,1056.487915,38.321805,-80.093471,38.312639,-80.084305,False,2

,Relief,avg_elevation,North,West,South,East,relict,basin
14063,240.018188,790.778320,38.770972,-78.214305,38.761805,-78.205138,False,3
14064,332.102722,749.564087,38.770972,-78.205138,38.761805,-78.195971,False,3
14065,321.839111,674.369751,38.770972,-78.195971,38.761805,-78.186805,False,3
14606,258.630981,665.356018,38.761805,-78.241805,38.752639,-78.232638,False,3
14607,338.395172,616.256042,38.761805,-78.232638,38.752639,-78.223471,False,3
...,...,...,...,...,...,...,...,...
30451,36.419937,172.515900,38.495972,-78.140971,38.486805,-78.131805,True,3
30994,32.742889,173.703506,38.486805,-78.168471,38.477639,-78.159305,True,3
30995,38.134369,170.330505,38.486805,-78.159305,38.477639,-78.150138,True,3
30996,34.604034,170.426193,38.486805,-78.150138,38.477639,-78.140971,True,3
30997,32.698502,180.779785,38.486805,-78.140971,38.477639,-78.131805,True,3

,Relief,avg_elevation,North,West,South,East,relict,basin
21952,132.634064,346.544312,38.633472,-80.973471,38.624305,-80.964305,False,4
21953,113.197266,326.443298,38.633472,-80.964305,38.624305,-80.955138,False,4
22493,166.011749,356.618896,38.624305,-81.019305,38.615139,-81.010138,False,4
22494,155.914673,363.886322,38.624305,-81.010138,38.615139,-81.000971,False,4
22495,143.225800,367.091187,38.624305,-81.000971,38.615139,-80.991805,False,4
...,...,...,...,...,...,...,...,...
39956,157.994507,451.446167,38.330972,-81.101805,38.321805,-81.092638,False,4
39957,159.663452,473.352234,38.330972,-81.092638,38.321805,-81.083471,False,4
40489,111.162842,409.802399,38.321805,-81.220971,38.312639,-81.211805,False,4
40490,172.980377,431.343933,38.321805,-81.211805,38.312639,-81.202638,False,4
40495,148.798248,403.488403,38.321805,-81.165971,38.312639,-81.156805,False,4

,Relief,avg_elevation,North,West,South,East,relict,basin
15344,112.572952,305.243408,38.743472,-81.486805,38.734305,-81.477638,False,5
15345,108.984116,308.665497,38.743472,-81.477638,38.734305,-81.468471,False,5
15890,78.448914,278.316528,38.734305,-81.486805,38.725139,-81.477638,True,5
15891,94.464447,291.821045,38.734305,-81.477638,38.725139,-81.468471,False,5
15892,86.226868,291.420685,38.734305,-81.468471,38.725139,-81.459305,True,5
...,...,...,...,...,...,...,...,...
34967,111.248932,265.758240,38.413472,-81.789305,38.404305,-81.780138,False,5
34968,118.862823,265.640808,38.413472,-81.780138,38.404305,-81.770971,False,5
34969,95.556732,256.386353,38.413472,-81.770971,38.404305,-81.761805,False,5
34970,92.592224,276.158661,38.413472,-81.761805,38.404305,-81.752638,True,5
34971,91.676910,293.021118,38.413472,-81.752638,38.404305,-81.743471,True,5

,Relief,avg_elevation,North,West,South,East,relict,basin
31680,82.346695,240.777130,38.468472,-81.890138,38.459305,-81.880971,True,6
32225,86.979248,234.733673,38.459305,-81.899305,38.450139,-81.890138,True,6
32226,95.014664,234.222015,38.459305,-81.890138,38.450139,-81.880971,False,6
32227,85.771469,223.126923,38.459305,-81.880971,38.450139,-81.871805,True,6
32228,85.817291,227.705734,38.459305,-81.871805,38.450139,-81.862638,True,6
...,...,...,...,...,...,...,...,...
75427,129.134888,723.933716,37.735139,-81.275971,37.725972,-81.266805,False,6
75969,133.075378,688.908569,37.725972,-81.312638,37.716805,-81.303471,False,6
75970,137.673523,688.267700,37.725972,-81.303471,37.716805,-81.294305,False,6
75971,164.763489,708.110229,37.725972,-81.294305,37.716805,-81.285138,False,6
75974,113.858704,719.385742,37.725972,-81.266805,37.716805,-81.257638,False,6

,Relief,avg_elevation,North,West,South,East,relict,basin
21061,157.322083,1044.282593,38.651805,-79.130971,38.642639,-79.121805,False,7
21062,85.266602,1085.749146,38.651805,-79.121805,38.642639,-79.112638,True,7
21063,85.662354,1079.305054,38.651805,-79.112638,38.642639,-79.103471,True,7
21064,68.180054,1088.690430,38.651805,-79.103471,38.642639,-79.094305,True,7
21065,119.554565,1048.627441,38.651805,-79.094305,38.642639,-79.085138,False,7
...,...,...,...,...,...,...,...,...
65299,143.270386,667.426636,37.909305,-79.020971,37.900139,-79.011805,False,7
65300,156.046204,643.650757,37.909305,-79.011805,37.900139,-79.002638,False,7
65301,169.547668,636.766113,37.909305,-79.002638,37.900139,-78.993471,False,7
65846,157.502930,724.995972,37.900139,-79.011805,37.890972,-79.002638,False,7
65847,273.580261,774.110718,37.900139,-79.002638,37.890972,-78.993471,False,7

,Relief,avg_elevation,North,West,South,East,relict,basin
22842,26.546501,132.833252,38.624305,-77.820138,38.615139,-77.810971,True,8
23387,21.912552,123.983055,38.615139,-77.829305,38.605972,-77.820138,True,8
23388,25.395500,126.866455,38.615139,-77.820138,38.605972,-77.810971,True,8
23389,21.585846,130.402390,38.615139,-77.810971,38.605972,-77.801805,True,8
23395,21.499794,118.155594,38.615139,-77.755971,38.605972,-77.746805,True,8
...,...,...,...,...,...,...,...,...
51181,123.407394,252.929413,38.147639,-78.305971,38.138472,-78.296805,False,8
51182,172.307648,289.168823,38.147639,-78.296805,38.138472,-78.287638,False,8
51183,206.250092,304.199341,38.147639,-78.287638,38.138472,-78.278471,False,8
51184,195.194672,315.904053,38.147639,-78.278471,38.138472,-78.269305,False,8
51728,205.440582,370.057739,38.138472,-78.296805,38.129305,-78.287638,False,8

,Relief,avg_elevation,North,West,South,East,relict,basin
32383,121.433838,784.670959,38.459305,-80.450971,38.450139,-80.441805,False,9
32929,142.730225,795.921326,38.450139,-80.450971,38.440972,-80.441805,False,9
32930,179.191650,780.313721,38.450139,-80.441805,38.440972,-80.432638,False,9
32931,168.901733,779.482544,38.450139,-80.432638,38.440972,-80.423471,False,9
32932,187.700684,813.482849,38.450139,-80.423471,38.440972,-80.414305,False,9
...,...,...,...,...,...,...,...,...
54762,212.876465,1138.155884,38.083472,-80.515138,38.074305,-80.505971,False,9
54763,167.348511,1126.783691,38.083472,-80.505971,38.074305,-80.496805,False,9
54764,134.061157,1139.521484,38.083472,-80.496805,38.074305,-80.487638,False,9
54765,125.749634,1150.171875,38.083472,-80.487638,38.074305,-80.478471,False,9
54766,122.433838,1139.009766,38.083472,-80.478471,38.074305,-80.469305,False,9

,Relief,avg_elevation,North,West,South,East,relict,basin
32909,77.625000,723.991211,38.450139,-80.634305,38.440972,-80.625138,True,10
32910,97.534790,736.131775,38.450139,-80.625138,38.440972,-80.615971,False,10
32911,112.024170,764.178589,38.450139,-80.615971,38.440972,-80.606805,False,10
32912,99.055298,780.663208,38.450139,-80.606805,38.440972,-80.597638,False,10
33454,96.214661,729.850220,38.440972,-80.643471,38.431805,-80.634305,False,10
...,...,...,...,...,...,...,...,...
66742,99.738708,874.489258,37.881805,-80.808471,37.872639,-80.799305,False,10
66743,67.147949,869.617615,37.881805,-80.799305,37.872639,-80.790138,True,10
66756,59.957397,775.329346,37.881805,-80.680138,37.872639,-80.670971,True,10
66757,93.131531,791.183472,37.881805,-80.670971,37.872639,-80.661805,False,10
67289,110.574402,898.759399,37.872639,-80.799305,37.863472,-80.790138,False,10

,Relief,avg_elevation,North,West,South,East,relict,basin
62791,243.303879,336.068359,37.945972,-81.990971,37.936805,-81.981805,False,11
62792,187.971283,316.773376,37.945972,-81.981805,37.936805,-81.972638,False,11
63337,150.079376,263.440857,37.936805,-81.990971,37.927639,-81.981805,False,11
63338,140.838211,265.400269,37.936805,-81.981805,37.927639,-81.972638,False,11
63339,235.392563,328.920959,37.936805,-81.972638,37.927639,-81.963471,False,11
...,...,...,...,...,...,...,...,...
92348,194.321045,785.157043,37.450972,-81.321805,37.441805,-81.312638,False,11
92894,233.212036,800.754150,37.441805,-81.321805,37.432639,-81.312638,False,11
92895,171.030396,790.957214,37.441805,-81.312638,37.432639,-81.303471,False,11
92896,174.601257,823.301636,37.441805,-81.303471,37.432639,-81.294305,False,11
93442,278.637146,874.958496,37.432639,-81.303471,37.423472,-81.294305,False,11

,Relief,avg_elevation,North,West,South,East,relict,basin
33035,249.977600,1041.166992,38.450139,-79.479305,38.440972,-79.470138,False,12
33036,131.579651,930.792603,38.450139,-79.470138,38.440972,-79.460971,False,12
33037,98.433411,853.141357,38.450139,-79.460971,38.440972,-79.451805,False,12
33581,189.632385,996.319946,38.440972,-79.479305,38.431805,-79.470138,False,12
33582,135.326355,897.975464,38.440972,-79.470138,38.431805,-79.460971,False,12
...,...,...,...,...,...,...,...,...
72870,251.575409,607.581787,37.780972,-79.690138,37.771805,-79.680971,False,12
72871,275.786499,744.538147,37.780972,-79.680971,37.771805,-79.671805,False,12
73415,151.795959,542.455811,37.771805,-79.699305,37.762639,-79.690138,False,12
73416,230.861206,658.178223,37.771805,-79.690138,37.762639,-79.680971,False,12
73962,334.826294,767.143372,37.762639,-79.690138,37.753472,-79.680971,False,12

,Relief,avg_elevation,North,West,South,East,relict,basin
33035,249.977600,1041.166992,38.450139,-79.479305,38.440972,-79.470138,False,13
33036,131.579651,930.792603,38.450139,-79.470138,38.440972,-79.460971,False,13
33037,98.433411,853.141357,38.450139,-79.460971,38.440972,-79.451805,False,13
33581,189.632385,996.319946,38.440972,-79.479305,38.431805,-79.470138,False,13
33582,135.326355,897.975464,38.440972,-79.470138,38.431805,-79.460971,False,13
...,...,...,...,...,...,...,...,...
91898,223.697510,847.797791,37.460139,-80.441805,37.450972,-80.432638,False,13
91899,174.407776,859.737915,37.460139,-80.432638,37.450972,-80.423471,False,13
92439,291.317627,954.808960,37.450972,-80.487638,37.441805,-80.478471,False,13
92442,220.801819,964.460083,37.450972,-80.460138,37.441805,-80.450971,False,13
92443,196.931396,931.442139,37.450972,-80.450971,37.441805,-80.441805,False,13

,Relief,avg_elevation,North,West,South,East,relict,basin
33035,249.977600,1041.166992,38.450139,-79.479305,38.440972,-79.470138,False,14
33036,131.579651,930.792603,38.450139,-79.470138,38.440972,-79.460971,False,14
33037,98.433411,853.141357,38.450139,-79.460971,38.440972,-79.451805,False,14
33581,189.632385,996.319946,38.440972,-79.479305,38.431805,-79.470138,False,14
33582,135.326355,897.975464,38.440972,-79.470138,38.431805,-79.460971,False,14
...,...,...,...,...,...,...,...,...
91898,223.697510,847.797791,37.460139,-80.441805,37.450972,-80.432638,False,14
91899,174.407776,859.737915,37.460139,-80.432638,37.450972,-80.423471,False,14
92439,291.317627,954.808960,37.450972,-80.487638,37.441805,-80.478471,False,14
92442,220.801819,964.460083,37.450972,-80.460138,37.441805,-80.450971,False,14
92443,196.931396,931.442139,37.450972,-80.450971,37.441805,-80.441805,False,14

,Relief,avg_elevation,North,West,South,East,relict,basin
16622,166.148743,1015.720215,38.725139,-79.781805,38.715972,-79.772638,False,15
16623,115.922913,994.096680,38.725139,-79.772638,38.715972,-79.763471,False,15
16624,117.197876,1027.278076,38.725139,-79.763471,38.715972,-79.754305,False,15
17167,230.671997,1040.722412,38.715972,-79.790971,38.706805,-79.781805,False,15
17168,87.802979,971.111267,38.715972,-79.781805,38.706805,-79.772638,True,15
...,...,...,...,...,...,...,...,...
87530,90.365173,816.437256,37.533472,-80.441805,37.524305,-80.432638,True,15
87531,92.754028,798.891052,37.533472,-80.432638,37.524305,-80.423471,False,15
87532,168.583679,833.626221,37.533472,-80.423471,37.524305,-80.414305,False,15
87533,238.642090,863.747681,37.533472,-80.414305,37.524305,-80.405138,False,15
88077,316.573242,929.049438,37.524305,-80.432638,37.515139,-80.423471,False,15

,Relief,avg_elevation,North,West,South,East,relict,basin
57076,290.215820,723.998901,38.046805,-79.323471,38.037639,-79.314305,False,16
57077,143.729187,633.029419,38.046805,-79.314305,38.037639,-79.305138,False,16
57620,319.602295,726.045837,38.037639,-79.341805,38.028472,-79.332638,False,16
57621,193.834839,622.782104,38.037639,-79.332638,38.028472,-79.323471,False,16
57622,111.855835,571.856812,38.037639,-79.323471,38.028472,-79.314305,False,16
...,...,...,...,...,...,...,...,...
81089,323.535950,407.040436,37.643472,-79.424305,37.634305,-79.415138,False,16
81090,274.069000,484.051392,37.643472,-79.415138,37.634305,-79.405971,False,16
81091,372.616760,608.572998,37.643472,-79.405971,37.634305,-79.396805,False,16
81631,132.876938,276.301575,37.634305,-79.460971,37.625139,-79.451805,False,16
81632,18.946289,220.765854,37.634305,-79.451805,37.625139,-79.442638,True,16

,Relief,avg_elevation,North,West,South,East,relict,basin
65291,231.825012,893.886230,37.909305,-79.094305,37.900139,-79.085138,False,17
65292,263.640198,817.290649,37.909305,-79.085138,37.900139,-79.075971,False,17
65293,332.290222,860.368042,37.909305,-79.075971,37.900139,-79.066805,False,17
65294,246.734863,838.381653,37.909305,-79.066805,37.900139,-79.057638,False,17
65835,218.792542,940.194580,37.900139,-79.112638,37.890972,-79.103471,False,17
...,...,...,...,...,...,...,...,...
87686,38.401718,207.218597,37.533472,-79.011805,37.524305,-79.002638,True,17
87687,46.855545,216.656891,37.533472,-79.002638,37.524305,-78.993471,True,17
87688,121.102676,273.250092,37.533472,-78.993471,37.524305,-78.984305,False,17
88232,42.560989,220.855896,37.524305,-79.011805,37.515139,-79.002638,True,17
88233,56.368759,232.439423,37.524305,-79.002638,37.515139,-78.993471,True,17

,Relief,avg_elevation,North,West,South,East,relict,basin
78189,131.156494,793.280823,37.689305,-80.982638,37.680139,-80.973471,False,18
78733,220.793701,837.965332,37.680139,-81.000971,37.670972,-80.991805,False,18
78734,166.847351,780.964844,37.680139,-80.991805,37.670972,-80.982638,False,18
78735,146.040894,772.060547,37.680139,-80.982638,37.670972,-80.973471,False,18
78736,125.871216,798.036926,37.680139,-80.973471,37.670972,-80.964305,False,18
...,...,...,...,...,...,...,...,...
107629,267.103577,989.225708,37.194305,-81.385971,37.185139,-81.376805,False,18
108171,150.244629,937.061340,37.185139,-81.422638,37.175972,-81.413471,False,18
108172,201.598999,977.842957,37.185139,-81.413471,37.175972,-81.404305,False,18
108173,364.771729,1078.725708,37.185139,-81.404305,37.175972,-81.395138,False,18
108717,350.312256,1137.519775,37.175972,-81.422638,37.166805,-81.413471,False,18

,Relief,avg_elevation,North,West,South,East,relict,basin
76122,257.591675,708.788025,37.725972,-79.910138,37.716805,-79.900971,False,19
76666,202.428955,705.991394,37.716805,-79.928471,37.707639,-79.919305,False,19
76667,187.327026,647.414734,37.716805,-79.919305,37.707639,-79.910138,False,19
76668,290.180878,603.697205,37.716805,-79.910138,37.707639,-79.900971,False,19
77212,245.855835,769.693848,37.707639,-79.928471,37.698472,-79.919305,False,19
...,...,...,...,...,...,...,...,...
100638,223.366638,694.170898,37.313472,-80.405138,37.304305,-80.395971,False,19
101180,106.054138,669.993408,37.304305,-80.441805,37.295139,-80.432638,False,19
101181,165.515625,690.411987,37.304305,-80.432638,37.295139,-80.423471,False,19
101724,121.235168,709.581299,37.295139,-80.460138,37.285972,-80.450971,False,19
101725,129.623962,697.713379,37.295139,-80.450971,37.285972,-80.441805,False,19

,Relief,avg_elevation,North,West,South,East,relict,basin
81355,253.530365,556.083801,37.634305,-81.990971,37.625139,-81.981805,False,20
81356,273.338867,535.233521,37.634305,-81.981805,37.625139,-81.972638,False,20
81357,325.194885,559.594482,37.634305,-81.972638,37.625139,-81.963471,False,20
81901,252.115936,568.884888,37.625139,-81.990971,37.615972,-81.981805,False,20
81902,228.456970,482.937469,37.625139,-81.981805,37.615972,-81.972638,False,20
...,...,...,...,...,...,...,...,...
110876,189.843567,716.874390,37.139305,-81.651805,37.130139,-81.642638,False,20
110877,163.479675,652.926514,37.139305,-81.642638,37.130139,-81.633471,False,20
110878,218.225708,685.240479,37.139305,-81.633471,37.130139,-81.624305,False,20
110879,238.048828,708.634399,37.139305,-81.624305,37.130139,-81.615138,False,20
110880,186.976807,728.066895,37.139305,-81.615138,37.130139,-81.605971,False,20

,Relief,avg_elevation,North,West,South,East,relict,basin
90798,251.729797,1090.826904,37.478472,-80.515138,37.469305,-80.505971,False,21
91315,47.087891,618.019043,37.469305,-80.780971,37.460139,-80.771805,True,21
91316,69.441406,634.188477,37.469305,-80.771805,37.460139,-80.762638,True,21
91317,70.541626,629.579712,37.469305,-80.762638,37.460139,-80.753471,True,21
91318,55.930298,617.841431,37.469305,-80.753471,37.460139,-80.744305,True,21
...,...,...,...,...,...,...,...,...
116933,285.421814,987.137573,37.038472,-81.184305,37.029305,-81.175138,False,21
116934,172.008850,919.652466,37.038472,-81.175138,37.029305,-81.165971,False,21
116935,195.635132,934.685486,37.038472,-81.165971,37.029305,-81.156805,False,21
116941,100.595398,811.184814,37.038472,-81.110971,37.029305,-81.101805,False,21
116942,191.474792,846.477661,37.038472,-81.101805,37.029305,-81.092638,False,21

,Relief,avg_elevation,North,West,South,East,relict,basin
88724,379.834351,1004.314758,37.515139,-79.506805,37.505972,-79.497638,False,22
89268,240.437988,1015.712036,37.505972,-79.525138,37.496805,-79.515971,False,22
89269,294.414429,1015.019836,37.505972,-79.515971,37.496805,-79.506805,False,22
89270,286.892883,896.967041,37.505972,-79.506805,37.496805,-79.497638,False,22
89271,311.209656,733.549561,37.505972,-79.497638,37.496805,-79.488471,False,22
...,...,...,...,...,...,...,...,...
118228,49.755646,274.701599,37.020139,-79.323471,37.010972,-79.314305,True,22
118229,60.604141,269.451996,37.020139,-79.314305,37.010972,-79.305138,True,22
118230,42.086823,276.891785,37.020139,-79.305138,37.010972,-79.295971,True,22
118231,46.646790,265.755890,37.020139,-79.295971,37.010972,-79.286805,True,22
118232,49.459656,247.853973,37.020139,-79.286805,37.010972,-79.277638,True,22

In [ ]:
# i=0
# for path in path_list:
#     !python /sciclone/home/ntlewis/Nick-Lewis-Research/working_files/py_scripts/relief.py x x x x watersheds/{path} pngs/output_{i}.png csvs/relief_{i}.csv
#     i+=1